.redmine-issues-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.redmine-issue-grid-item {
    flex-grow: 1;
    padding: 1em;
    max-width: 300px;
    min-width: 300px;
}

.redmine-issue {
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
}

.redmine-issue.in-error {
    color: var(--text-error);
    text-align: center;
    padding: 1em;
}

.redmine-issue-title {
    color: var(--em-color);
    font-size: 1.1em;
    height: 3em;
    overflow: hidden;
}

.redmine-issue-description {
    margin: 0.4em 0 0.8em 0;
    font-size: 0.85em;
    line-height: 1.4;
    max-height: 7em;
    overflow: hidden;
    white-space: pre-wrap;
}

.redmine-issue-details span {
    font-size: 0.6em;
}

.redmine-issue-details span:not(:last-child) {
    margin-right: 5px;
}

.redmine-issue-meta {
    margin-top: 0.8em;
    font-size: 0.6em;
}

.redmine-issue-meta-row:not(:last-child) {
    margin-bottom: 0.3em;
}

.redmine-issue-meta-label {
    color: var(--text-muted);
}

.redmine-modal-commands {
    text-align: right;
    padding-top: 2em;
}

.redmine-modal-title {
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

